In [1]:
#print 0 to 20 using range

In [2]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
#print20 to 30 using range

In [5]:
for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [35]:
lists2=[10,20,14,55,43,87,76]

In [39]:
print(lists2)
print("Number of items in the Lists2:")
print(len(lists2))

[10, 20, 14, 55, 43, 87, 76]
Number of items in the Lists2:
7

In [42]:
list3=("Artificial Intelligence")

In [43]:
for temp in list3:
    print(temp)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [63]:
list4=["-Your Name-","-Your Age-","-Your Profession"]

In [64]:
for temp in list4:
    print(temp)

-Your Name-
-Your Age-
-Your Profession

In [ ]:
#(1,"welcome", 2,"Hope")

In [65]:
tup=(1,"welcome", 2,"Hope")

In [66]:
print(tup)

(1, 'welcome', 2, 'Hope')

In [77]:
tup1=(0,1,2,3)
tup2=('Python','HOPE')
tup3=(tup1,tup2)

In [78]:
print(tup3)

((0, 1, 2, 3), ('Python', 'HOPE'))

In [ ]:
#print even numbers in teh list

In [94]:
list=(20,10,16,19,25,1,276,188)

In [101]:
for num in list:
    if((num%2)==0):
        print(num,"is even number")

20 is even number
10 is even number
16 is even number
276 is even number
188 is even number